html, body{
  height:100%;
  width:100%;
}

#hoge{
  height:100%;
  width:100%;
  margin: -10px -10px -10px -10px;
  margin-bottom: -200px
  background-color: #e74c3c;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;
}

#title{
  font-size:40px;
  color:#fff;
  text-align: center;
  vertical-align: middle;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  letter-spacing:4px;
  padding-top: 110px;

  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 400px;
  height: 290px;
  -webkit-border-radius: 200px;/* width,heightの半分 */
  -moz-border-radius: 200px;
  border-radius: 200px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  z-index: 10;

  cursor: pointer;
}


.box{
  text-decoration: none;

  width: 0px;
  height: 0px;
  color: black;
  -webkit-border-radius: 200px;/* width,heightの半分 */
  -moz-border-radius: 200px;
  border-radius: 200px;

  background: white;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  cursor: pointer;
}

.space{
  font-size: 90px;
}

@-webkit-keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}
@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }

}
